<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
        Base body
    {% endblock %}

    {% now 'H:i' %}
    <div>
        {% now 'l' as current_weekday %}
        Today is {{current_weekday}}
    </div>

</body>
</html>


