{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    Shop index
{% endblock %}

{% block body %}
    <h1> Список доступных страниц </h1>
    <div>
        <ul>
            {% for link in links %}
                <li><a href={{link.address}}>{{link.title}}</a></li>
            {% empty %}
                No links here
            {% endfor %}
        </ul>
    </div>

    {% cache 100 cherr %}
    <div>
        <strong>
            You have {{ items }} cherr{{ items|pluralize:"y,ies" }}
        </strong>
    </div>
    {% endcache %}

    <div>
        Time running: {{time_running}}
    </div>
{% endblock %}