{% extends 'shopapp/base.html' %}

{% block title %}
    Accounts list
{% endblock %}

{% block body %}
    <h1>Profiles:</h1>
    {% if users %}
        <div>
        {% for user in users %}
            <div>
                <h2><a href="{% url 'myauth:about-me' pk=user.pk %}">Name: {{user.username}}</a></h2>
                <p>Bio: {{user.profile.bio}}</p>
                <p>E-mail: {{user.email}}</p>
                {% if user.profile.avatar %}
                    <a href="{% url 'myauth:about-me' pk=user.pk %}"><img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}"></a>
                {% else %}
                    <h3>No avatar yet</h3>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3>No profiles yet</h3>
    {% endif %}
    <div>
        <a href="{% url 'myauth:register' %}">
            Register new user
        </a>
    </div>


{% endblock %}