{% extends 'shopapp/base.html' %}

{% block title %}
    Articles list
{% endblock %}

{% block body %}
    <h1>Articles: </h1>
    {% if articles %}
        <div>
            {% for article in articles %}
                <div>
                    <p><a href="{% url 'blogapp:article_details' pk=article.pk %}">Name: {{article.title}}</a></p>
                    <p>Publication date: {{article.pub_date}}</p>
                    <p>Author: {{article.author.name}}</p>
                    <p>Category: {{article.category}}</p>
                    </div>
                    Tags:
                        <ul>
                            {% for tag in article.tags.all %}
                                <li>{{ tag.name }} </li>
                            {% endfor %}
                        </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No published articles yet</h3>
    {% endif %}
    <div>
    <a href="{% url 'blogapp:create_article' %}">
        Create a new article
    </a>
    </div>
{% endblock %}